Package: com.alex.bluetoothrename
Name: Bluetooth Rename
Depends: mobilesubstrate
Version: 1.1
Architecture: iphoneos-arm
Description: Rename your Bluetooth Devices!
Maintainer: Alexandre
Author: Alexandre
Section: Tweaks
