Package: com.alex.bluetoothrename
Name: Bluetooth Devices Renamer
Depends: mobilesubstrate
Version: 1.1
Architecture: iphoneos-arm
Description: Rename your Bluetooth Devices!
Maintainer: Alexandre <alexandre31.tweak@gmail.com>
Author: Alexandre <alexandre31.tweak@gmail.com>
Section: Tweaks
Depiction: http://therid.github.io/depiction/bluetoothrename/theme.html
